<h3>SOA Demo and Test example</h1>
<h4>Status</h4>
<ul>
<li>There are currently: <%= @users.size %> users</li>
<li>There are currently: <%= @follows.size %> follows</li>
<li>There are currently: <%= @tweets.size %> tweets</li>

<li>last response: <%= session[:result] %></li>
</ul>
<h4>Adding blocks of random users</h4>
<form method="POST" action="/users/add/ssync">
  <button type="submit" formaction="/users/add/ssync">
    add a block of users sybnchronously
  </button>
  <button type="submit" formaction="/users/add/async">
    add a block of users asybnchronously
  </button>
<h4>SYNCHRONOUS Add Seed Data</h4>
<form method="POST" action="/seed/addusers/sync">
  <button type="submit" formaction="/seed/deleteall/sync" >
  Delete all Seed Data
  </button>
  <button type="submit" formaction="/seed/addusers/sync" >
  Add seed users
  </button>
  <button type="submit" formaction="/seed/addfollows/sync" >
  Add seed follows
  </button>
  <button type="submit" formaction="/seed/addtweets/sync" >
  Add seed tweets
  </button>
</form>