<head>
  <title>Service Oriented Architecture</title>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('dd9f23cab2c8652cbd08', {
      cluster: 'us2'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function (data) {
      document.getElementById('async_response').innerHTML = JSON.stringify(data.message);
      document.getElementById('user_count').innerHTML = JSON.stringify(data.user_total);
      document.getElementById('tweet_count').innerHTML = JSON.stringify(data.tweet_total);
      document.getElementById('follow_count').innerHTML = JSON.stringify(data.follow_total);
    });
  </script>
</head>

<body>
<h3>SOA Demo and Test example</h1>
<h4>Status</h4>
<ul>
      <li>There are currently: <span id="user_count"><%= @users.size %></span> users</li>
      <li>There are currently: <span id="tweet_count"><%= @tweets.size %></span> tweets</li>
      <li>There are currently: <span id="follow_count"><%= @follows.size %></span> follows</li>
      <li>Last sync response at <%= session[:result] %></li>
      <li>Last async response at <span id="async_response"></span></li>
</ul>
<h4>Adding blocks of random users</h4>
<form method="POST" action="/users/add/sync">
  <button type="submit" formaction="/users/add/sync">
    add a block of users sybnchronously
  </button>
  <button type="submit" formaction="/users/add/async">
    add a block of users asynchronously
  </button>
<h4>SYNCHRONOUS Add Seed Data</h4>
<form method="POST" action="/seed/addusers/sync">
  <button type="submit" formaction="/seed/deleteall/sync" >
  Delete all Seed Data
  </button>
  <button type="submit" formaction="/seed/addusers/sync" >
  Add seed users
  </button>
  <button type="submit" formaction="/seed/addfollows/sync" >
  Add seed follows
  </button>
  <button type="submit" formaction="/seed/addtweets/sync" >
  Add seed tweets
  </button>
</form>
</body>