<h3>SOA Demo and Test example</h1>
<h4>Status</h4>
<ul>
<li>There are currently: <%= @users.size %> users</li>
<li>There are currently: <%= @follows.size %> follows</li>
<li>There are currently: <%= @tweets.size %> tweets</li>

<li>last response: <%= session[:result] %></li>
</ul>
<h4>Syncronous Invocations</h4>
<form method="POST" action="/users/add/ssync">
  <input type="submit" />
  </form>
<h4>Async Invocations</h4>
<form method="POST" action="/users/add/async">
  <input type="submit" />
</form>
<h4>Sync Add Seed Users</h4>
<form method="POST" action="/seed/addusers/sync">
  <input type="submit" />
</form>
<h4>Sync Add Seed Follows</h4>
<form method="POST" action="/seed/addfollows/sync">
  <input type="submit" />
</form>
<h4>Sync Add Seed Tweets</h4>
<form method="POST" action="/seed/addtweets/sync">
  <input type="submit" />
</form>
<h4>Sync Add Delete All Seed</h4>
<form method="POST" action="/seed/deleteall/sync">
  <input type="submit" />
</form>
